<h1>タスク一覧</h1>

<ul>
  <% @tasks.each do |task| %>
    <li><%= link_to task.id, task %>:<%= task.content %>
      <%= form_with(model: task, local: true) do |f| %>
        <%= f.text_field :content %>
        <%= f.submit '投稿' %>
      <% end %>
    </li>
  <% end %>
   <% @tasks.each do |task| %>
    <li><%= link_to task.id, task %> : <%= task.title %> &gt; <%= task.content %></li>
  <% end %>
</ul>

<table border="1">
  <tr>
    <th>ID</th>
    <th>Content</th>
    <th>Form</th>
  </tr>
  <% @tasks.each do |task| %>
    <tr>
      <td><%= link_to task.id, task %></td>
      <td><%= task.content %></td>
      <td>
        <%= form_with(model: task, local: true) do |f| %>
          <%= f.text_field :content %>
          <%= f.submit '投稿' %>
        <% end %>
      </td>
    </tr>
  <% end %>
</table>

<%= form_with(model: @task, local: true) do |f| %>
  <%= f.label :content, 'タスク' %>
  <%= f.text_field :content %>

  <%= f.submit '投稿' %>
<% end %>

<%= link_to '新規タスクの投稿', new_task_path %>
